---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 180
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignTrailingComments: true
BreakBeforeBraces: Attach
NamespaceIndentation: All
AccessModifierOffset: -2
PointerAlignment: Left
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
BreakConstructorInitializers: AfterColon
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: false