[submodule "subprojects/tomlplusplus"]
	path = subprojects/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "subprojects/catch2"]
	path = subprojects/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "subprojects/nlohmann_json"]
	path = subprojects/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "subprojects/sqlite"]
	path = subprojects/sqlite
	url = https://github.com/sqlite/sqlite.git
